// COLOURS //
$main-font-color: #282A3E;

$main-background-color: #d8d8d8;



// BACKGROUND COLOURS //
$color-background-dark: $main-background-color;


///FONT COLOURS ///



 $primary-font: $main-font-color;