// COLOURS //

$grey-dark: #1d1d20;
$grey-light: #595D60;
$white: #FFFFFF;
$white-light: #F2F8F8 ;
$teal-light: #B3C9C9;
$teal: #67888D;

$color-font-main: $grey-dark;
$color-font-light: $grey-light;
$color-font-teal: $teal;
$color-bg-light: $white-light;
$color-bg-white: $white;





