@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    font-family: 'Karla', sans-serif;
    
} */

/* .box-shadow {
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    background: #fff;
} */

.content-container {
    @apply px-4 sm:w-4/5 xl:w-[1200px] mx-auto py-20;
}

@layer base {
    h1 {
        @apply text-3xl;
    }
    
    h2 {
        @apply sm:text-3xl text-2xl;
    }
    
    p {
        @apply text-font-greydark;
    }
    
    a {
        @apply hover:underline hover:underline-offset-4 hover:decoration-2;
    }
}

.blog h1 {
    @apply md:max-w-[600px];
}

.email, .twitter, .linkedin {
    @apply text-center opacity-0 transition-all duration-500;
}


.prose code {
    @apply bg-[#282a36] text-white px-1 py-[2px] rounded-[4px];
}

/* .prose code {
    display: inline-block;
} */

/* .deckgo-highlight-code-carbon{
    
    width: 500px;

}

.line-number {
    word-wrap: normal;
    word-break: keep-all;
    width: 300px;
} */

@media (max-width: 800px) {
    :root{
        --deckgo-highlight-code-container-width: 800px;
        --deckgo-highlight-code-scroll: scroll;
       
    } 
}


/* CODE BLOCK CUSTOM PROPERTIES  */
/* :root {
    --deckgo-highlight-code-carbon-toolbar-display: none;
    --deckgo-highlight-code-carbon-box-shadow: rgba(0, 0, 0, 0.55) 0 6px 10px;
    --deckgo-highlight-code-scroll: scroll !important;
    --deckgo-highlight-code-container-width: 400px !important;  
    --deckgo-highlight-code-container-width: 400px !important;
} */
.deckgo-highlight-code-carbon {
    @apply mx-1 sm:mx-4 shadow-md text-sm md:text-base;
}



/* .markdown-code-block{
    margin: 1.75rem 0;
  
    p{
        margin: 1rem 0;
    }
}  */