@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    font-family: 'Karla', sans-serif;
    
} */
.content-container {
    @apply px-4 sm:w-4/5 xl:w-[1200px] mx-auto py-20;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-3xl sm:text-2xl;
}

p {
    @apply text-font-greydark;
}

a {
    @apply hover:underline hover:underline-offset-4 hover:decoration-2;
}

.blog h1 {
    @apply md:max-w-[600px];
}

.email, .twitter, .linkedin {
    @apply text-center opacity-0 transition-all duration-500;
}

.floating-icon:hover .email, .floating-icon:hover .twitter, .floating-icon:hover .linkedin {
    opacity: 1;
    background-color: aqua;
    margin-bottom: 40px;
}

.floating-icon:hover .icons-container div:last-child {
    margin-bottom: 80px !important;
}

.prose code {
    @apply bg-[#282a36] text-white px-2 py-1 rounded-[5px];
}

/* .prose code {
    display: inline-block;
} */

/* .deckgo-highlight-code-carbon{
    
    width: 500px;

}

.line-number {
    word-wrap: normal;
    word-break: keep-all;
    width: 300px;
} */

/* :root{
    --deckgo-highlight-code-container-width: 500px;
    --deckgo-highlight-code-scroll: scroll !important;
   
} */

/* CODE BLOCK CUSTOM PROPERTIES  */
/* :root {
    --deckgo-highlight-code-carbon-toolbar-display: none;
    --deckgo-highlight-code-carbon-box-shadow: rgba(0, 0, 0, 0.55) 0 6px 10px;
    --deckgo-highlight-code-scroll: scroll !important;
    --deckgo-highlight-code-container-width: 400px !important;  
    --deckgo-highlight-code-container-width: 400px !important;
} */
.deckgo-highlight-code-carbon {
    @apply mx-1 sm:mx-4 shadow-md text-sm;
}



/* .markdown-code-block{
    margin: 1.75rem 0;
  
    p{
        margin: 1rem 0;
    }
}  */