@use "../../styles/main.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html, body{
//     // min-height: 100vh;
//     width: 100%;

// }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-bg-light;
}

.content {
  flex-grow: 1 !important;
  
  // padding: 2rem .5rem;
  // margin: 0 auto;
  margin-top: 8vh;
 
  

}
