@use "../../styles/main.scss" as *;

.header {
  background-color: $teal-light;
  min-height: 8vh;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 999;
  @include box-shadow;
}
.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
}

.nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: $color-font-light;
}

.nav-list {
  @include respond-to("small") {
    position: relative;
    top: 0;
    height: 100%;
    max-width: 600px;
    background-color: inherit;
  }
}

.nav-list ul {
  @include respond-to("small") {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}

.nav-list li {
  list-style: none;
  @include respond-to("small") {
    width: auto;
  }
}

.nav-item {
  text-decoration: none;
  font-size: 1rem;
  color: $color-font-main;
  font-weight: 500;
  position: relative;
  @include respond-to("small") {
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
  }
}

.active-nav-item {
  position: relative;
  &::after {
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translateX(50%);

    background-color: $teal;
  }
}

.header-icon-container {
  display: flex;
  flex-direction: row;
}

.headerIcon {
  font-size: 1.75rem;
  margin-left: 1rem;
  color: $color-font-light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $color-font-main;
  }
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;

  color: $color-font-main;
  cursor: pointer;
  // font-size: 1.75rem;
  @include respond-to("small") {
    display: none;
  }
}

///////// media queries /////////

@media only screen and (max-width: 700px) {
  .header-icon-container {
    display: none;
  }
}

//////// MOBILE SIDE MENU //////////

@media only screen and (max-width: 500px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    right: -100%;
    height: 92vh;
    background: $teal;
    width: 15rem;
    transition: ease-in-out 500ms;
    visibility: hidden;
   
  }
  .nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    padding: 0;
    margin: 0;
  }

  .nav-list li {
    list-style: none;
    padding: 8px auto;
    list-style: none;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .nav-item {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  .active-nav-item {
    position: relative;
    &::after {
      width: 20%;
      background-color: black;
    }
  }
  .nav-show {
    right: 0;
    visibility: visible;
    transition: ease-in-out 500ms;
    
  }
}



