@use "../../styles/main.scss" as *;

.footer {
  background-color: $teal;

  .section-content-container {
    margin: 0 auto;
    width: 80%;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    @include respond-to("small") {
      max-width: 95%;
      display: flex;
      justify-content: center;
    }

    @include respond-to("medium") {
      width: 80%;
    }
  }

  .footer-icons {
    margin-left: 1rem;
  }

  .icon {
    font-size: 1.5rem;
    color: #000000;
    margin-left: 0.5rem;
  }

  p {
    font-weight: 500;
    text-align: center;
    // margin: 1rem 0;
  }

  .footer-framework-logos {
    display: flex;

    @include respond-to("small") {
      flex-direction: row;
      justify-content: center;
    }
    a {
      margin: 0 0.75rem;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
    span {
      display: none;
      @include respond-to("small") {
        display: block;
        font-size: 1rem;
        display: flex;
        margin: 0 0.5rem;
      }
    }
  }

}
